* {
    text-decoration: none;
}
html, body {
    margin:0;
    padding:0;
    background-color: #F2ECE7;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

.nav-bar {
    list-style: none;
    background-color: #F2ECE7;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1A274B;
}
.nav-item {
    display: inline-block;
}
.nav-item-link {
    color: #1A274B;
    font-size: 18px;
    font-weight: bolder;
    margin-right: 80px;
}
.nav-item-link:hover {
    color: #A94D0F;
}

.side-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons {
    margin-left: 17px;
    margin-top: 100px;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: #1a274b;
    color: #fff;
    border-radius: 100%;
    font-size: 24px;
    margin: 8px;
}
.social-icons .social-icon:hover {
    background-color: #A94D0F;
}

.container {
    margin-top: 70px;
    margin-left: 80px;
}

.title-page {
    /* background-color: #cf0fa2; */
    margin-bottom: 40px;
    /* margin-left: 100px;
    margin-top: 210px; */
    /* display: inline-block; */
    /* justify-content: center; */
    /* align-items: center; */
}
.title-text {
    margin-left: 100px;
    margin-top: 210px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.introduction {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #1A274B;
    padding: none;
    margin: none;
}
.name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120px;
    color: #1A274B;
    padding: none;
    margin-top: -30px;
    margin-left: -5px;
}
.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
    font-weight: 500;
    color: #A94D0F;
    padding: none;
    margin-top: -70px;
}
.down-arrow {
    color: #1a274b;
    margin-top: 140px;
    margin-left: 50%;
    display: inline-flex;
    font-size: 40px;
}
.down-arrow:hover {
    color: #A94D0F;
}


.subheaders {
    margin-left: 150px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: #1a274b;
}

#about {
    /* background-color:#b2dcef; */
}
.about-header {
    margin-top: 180px;
}
.about-text {
    margin-left: 170px;
    margin-top: -30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #1a274b;
    width: 650px;
}
.portrait {
    width: 270px;
    margin-top: -430px;
    margin-left: 900px;
}
.portrait-frame {
    border: 5px solid #1A274B;
    width: 270px;
    height: 470px;
    margin-top: -460px;
    margin-left: 910px;
    margin-bottom: 40px;
}

#experience {
    /* background-color:#edb2ef; */
}
.experience-item {
    /* background-color:#8ac6a2; */
    margin-left: 170px;
    width: 950px;
}
.experience-item.first {
    margin-top: -20px;
}
.experience-item.last {
    margin-bottom: 40px;
}
.company {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #1a274b;
    margin-bottom: -15px;
}
.role {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #A94D0F;
    margin-bottom: -10px;
}
.dates {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1a274b;
    text-align: right;
    margin-top: -50px;
}
.bullet-points {
    margin-top: 40px;
}
.point {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #1a274b;
    margin-bottom: 5px;
}

#projects {
    /* background-color: darkkhaki; */
}
.project-item {
    /* background-color:#8ac6a2; */
    margin-left: 170px;
    width: 950px;
    margin-bottom: 50px;
}
.project-item.first {
    margin-top: 10px;
    margin-bottom: 50px;
}
.project-item.second {
    margin-top: 30px;
}
.project-item.last {
    margin-top: -50px;
    margin-bottom: 40px;
}
.project-ss.first {
    width: 300px;
}
.image-frame.first {
    border: 5px solid #1A274B;
    width: 300px;
    height: 300px;
    margin-top: -290px;
    margin-left: 10px;
}
.project-ss.second {
    width: 350px;
}
.image-frame.second {
    border: 5px solid #1A274B;
    width: 350px;
    height: 250px;
    margin-top: -240px;
    margin-left: 10px;
}
.project-ss.third {
    width: 350px;
}
.image-frame.third {
    border: 5px solid #1A274B;
    width: 350px;
    height: 180px;
    margin-top: -170px;
    margin-left: 10px;
}
.project-item-text {
    /* background-color:#d5f2b2; */
    margin-left: 400px;
    width: 550px;
    padding-bottom: 40px;
}
.project-item-text.first {
    margin-top: -345px;
}
.project-item-text.second {
    margin-top: -300px;
}
.project-item-text.last {
    margin-top: -220px;
}
.project-tools {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #A94D0F;
    margin-left: 40px;
}

.divider {
    width: 1100px;
    border: 0.9px solid #1A274B;
    margin-left: 90px;
}
.footer-text {
    display: inline-flex;
    margin-bottom: 40px;
}
.footer-updated {
    margin-left: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #1a274b;
}
.footer-author {
    margin-left: 630px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #1a274b;
}
